/Servers/
/.metadata
/.recommenders
/RemoteSystemsTempFiles
/.project
/.settings
/wms-maitain
/target
/wms-plus-client/target
/wms-plus-client/.settings
*.idea
*.iml
*.project
.settings/
*.classpath
target/
build/
diamond_config_data.log
*.svn
.externalToolBuilders/